<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ControllerCode" value="" />
    <add key="CoreApiBaseUrl" value="" />
    <add key="CoreApiClientId" value="" />
    <add key="CoreApiClientSecret" value="" />
    <add key="CoreApiDatabase" value="" />
    <add key="CoreApiTimeoutSec" value="15" />
    <add key="CoreApiRateLimitBackoffSec" value="60" />
    <add key="DiscoveryEnabled" value="true" />
    <add key="DiscoveryServiceType" value="_nsp._tcp.local" />
    <add key="DiscoveryTimeoutMs" value="5000" />
    <add key="HeartbeatIntervalSec" value="30" />
    <add key="ReaderConfigIntervalSec" value="60" />
    <add key="ReaderDiscoveryIntervalSec" value="5" />
    <add key="ReaderStatusIntervalSec" value="60" />
    <add key="DetectionPushIntervalMs" value="1000" />
    <add key="DetectionBatchSize" value="1000" />
    <add key="LaneCalibrationIdlePollIntervalSec" value="5" />
    <add key="LaneCalibrationActivePollIntervalSec" value="3" />
    <add key="LaneCalibrationPushIntervalMs" value="1000" />
    <add key="LaneCalibrationBatchSize" value="100" />
    <add key="CleanupIntervalSec" value="3600" />
    <add key="SentDetectionRetentionDays" value="7" />
	<add key="PostgreSqlConnectionString" value="Host=127.0.0.1;Port=5432;Database=nsp_db;Username=parking_log_user;Password=123456aA@;Pooling=true" />
	<add key="PostgreSqlAdminConnectionString" value="123456aA@" />
    <add key="LogDirectory" value="logs" />
  </appSettings>
</configuration>
